
.icon-settings:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-arrows:before { content: '\e802'; } /* '' */
.icon-refresh:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e808'; } /* '' */
.icon-edit-alt:before { content: '\e809'; } /* '' */
.icon-stopwatch:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */