
@font-face {
    font-family: 'thin';
    src: url('pfdintextpro-thin.eot');
    src: url('pfdintextpro-thin.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-thin.woff') format('woff'),
         url('pfdintextpro-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'light';
    src: url('pfdintextpro-light.eot');
    src: url('pfdintextpro-light.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-light.woff') format('woff'),
         url('pfdintextpro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'regular';
    src: url('pfdintextpro-regular.eot');
    src: url('pfdintextpro-regular.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-regular.woff') format('woff'),
         url('pfdintextpro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thin_italic';
    src: url('pfdintextpro-thinitalic.eot');
    src: url('pfdintextpro-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-thinitalic.woff') format('woff'),
         url('pfdintextpro-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'extrathin';
    src: url('pfdintextpro-xthin.eot');
    src: url('pfdintextpro-xthin.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-xthin.woff') format('woff'),
         url('pfdintextpro-xthin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'medium';
    src: url('pfdintextpro-medium.eot');
    src: url('pfdintextpro-medium.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-medium.woff') format('woff'),
         url('pfdintextpro-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}