// Activities
#acts-container 
	margin 30px 0 0

 // Add activity 

.add-act-input 
	padding 0 14px
	width 100%
	height 2.6em
	border 1px solid #ddd
	background #E2E2E2
	margin 0
	&:focus
		outline none
		background #EBEBEB

.act-input-btn
	border 0
	background rgba(255, 255, 255, 0)
	font-size 24px
	margin -36px 10px 0 0
	position relative
	display block
	float right
	color #B4B4B4
	&:focus
		outline none
	&:hover
		color #7E7E7E

.acts-list-item 
	font-size 16px
	min-height 43px
	border 1px solid #DDD
	position relative
	font-family medium
	margin -1px 0
	overflow hidden
	background-color #fff
	&.archived
		background-color transparent

.acts-list-item_title 
	width calc(100% - 310px)
	display inline-block
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	position absolute
	left 33px
	top 3px

.acts-list-item_tags
	width calc(100% - 310px)
	display inline-block
	position absolute
	position relative
	left 33px
	top 20px
	font-size 11px
	line-height 1.4
	font-family light
	margin 0 
	padding 0
	margin-bottom 22px
	list-style none
	li
		display inline-block
		text-decoration underline
		color rgb(165, 165, 165)
		cursor pointer
		margin-right 3px
		&.selected
			background-color yellow
		&:hover
			color #000
		&:first-child
			cursor default
			color #000
			text-decoration none
			margin-right 1px


.acts-list-item_color-bar 
	display block
	width 4px
	height 80%
	position absolute
	left 10px
	top 10%
	border-radius 3px

.togglefull
	cursor pointer
	user-select none

.acts-list-item_togglefull 
	font-size 7px
	position absolute
	top 17px
	left 19px

.icon-up-open
.icon-down-open
	opacity 0

.icon-up-open
	display none

.acts-list-item:hover 
	.icon-down-open
	.icon-up-open
		opacity .4
		&:hover
			opacity 1

.acts-list-item.opened
	.acts-list-item_togglefull
		top 16px
	.icon-up-open
		display block
		&:hover
			opacity 1
	.icon-down-open
		display none
	min-height 100px
	.acts-list-item_color-bar 
		height 92%
		top 4%
	.acts-list-item_fullview
	.short-stat
		display block

/* Activity timer icon */
.toggle-timer 
	display block

.start-timer
.stop-timer
	user-select none
	display block
	background-color #aaa
	padding 4px 0 2px
	width 82px
	text-align center
	color #fff
	position absolute
	right 12px
	top 6px
	cursor pointer
	border-radius 3px
	font-family regular
	font-weight normal
	letter-spacing 1px
	text-shadow 1px 1px 0px rgba(116, 116, 116, 0.48)
	.running &
		display none

.stop-timer
	background-color #EC5A5A
	display none
	.running &
		display block

label.selected
	background red

.archive-activity-block
	display none
	.opened &
		display block
		position absolute
		bottom 0
		right 10px
		label
			font-size 13px
			font-weight normal
			font-family 'regular'
			margin 0 0 0 5px

/* Activity item timer-display */
.timer-display 
	line-height 1em
	padding-left 12px
	min-width 85px
	color #DDD
	font-size 33px
	display inline-block
	text-align right
	font-family thin
	position absolute
	top 5px
	right 110px
	background-color transparent
	z-index 2

.running .timer-display 
	color #D00

.timer-display-colon 
	float left 
	display block
	line-height .8
	margin 0 2px


.timer-display-mm, .timer-display-hh 
	float left 
	display block
	width 30px

.timer-display-hh 
	width 80px

.timer-display-ss 
	float left 
	display block
	font-size 13px
	width 15px
	margin -6px 1px 0 0

// @import 'jquery.tagit.css'
// @import 'tagit.ui-zendesk.css'

// .activity-icon-tags
// 	position absolute
// 	bottom 4px
// 	left 20px
// 	font-size 15px
// 	color #8A8A8A

.short-stat
	display none
	color rgb(128, 128, 128)
	position absolute
	right 0px
	font-size 10px
	top 27px
	letter-spacing 0.02em
	i
		background-color aliceblue
		font-family medium
		font-style normal
		padding 1px 3px
	// i+i
	// 	background-color rgb(255, 254, 219)


.timebar-track-selector
	position absolute
	left 20px
	bottom 40px
	font-size 11px


/* Edit widget */

.edit-act
	&.on
		opacity 1 !important
		z-index 222
		.acts-list-item:hover & {opacity: 1;}
	font-size: 13px;
	font-style: normal;
	cursor: pointer;
	opacity: 0;
	margin-left: 13px;
	.acts-list-item:hover & {opacity: 0.6;}
	.acts-list-item:hover &:hover {opacity: 1;}

.edit-widg
	display none
	&.on
		display block
		z-index 222
	position fixed
	top 50%
	margin-top -190px
	margin-left auto
	margin-right auto
	left 0
	right 0
	width 380px
	// min-width 320px
	// margin -40px 40px 0
	padding 20px
	box-shadow 1px 1px 5px
	border 1px solid #fff
	gradient-vertical(#DFDFDF, #B6B6B6, 0%, 100%)
	.act-title
		background transparent
		border 0
		border-bottom 1px solid
		font-size 18px
		font-family medium
		margin-bottom 30px
		&:focus
			border-bottom 1px dashed
			outline none
	.close-widget
		margin 10px
	h3
		font-size 12px
		color #808080
		margin 0 0 6px
		font-family regular
	.trackslist 
		margin 0
		padding 0
		li
			padding 1px 5px 0
			background-color #F0F0F0
			border 1px solid #fff
			list-style none
			display inline-block
			margin 2px
			width 20px
			height 20px
			cursor pointer
			font-family medium
			box-shadow 0px 0px 2px
			font-size 13px
			&.active
				border 1px solid #000
				outline 3px solid #000
	.delete-act
		font-family regular
		cursor pointer
		font-size 14px
		margin-left 90px

.colorset
	margin 00
	padding 0
	li
		border 1px solid #fff
		list-style none
		display inline-block
		margin 2px
		width 20px
		height 20px
		cursor pointer
		box-shadow 0px 0px 2px
		&.active
			border 1px solid #000
			outline 3px solid #000





/* Tagging Basic Style */
.tagging
	border 1px solid #969595
	cursor text
	font-size 1em
	height auto
	padding 10px 10px 15px
	background-color #D5D5D5
	max-width 330px
	border-radius 6px
	margin-top 7px

.tag
	background none repeat scroll 0 0 #EE7407
	border-radius 2px
	color white
	cursor default
	display inline-block
	position relative
	white-space nowrap
	padding 0px 22px 2px 7px
	margin 5px 5px 0 0
	font-size 12px
	span
		background none repeat scroll 0 0 #D66806
		border-radius 2px 0 0 2px
		margin-right 5px
		padding 5px 10px 5px
		display none
	.tag-i
		color white
		cursor pointer
		font-size 1.3em
		height 0
		line-height 0.1em
		position absolute
		right 6px
		top 10px
		text-align center
		width 10px
		&:hover
			color black
			text-decoration none

.type-zone
	border 0 none
	height auto
	width auto
	min-width 20px
	display inline-block
	background-color #D5D5D5
	font-size 12px
	&:focus
		outline none
