@import 'fonts.css'
@import '../icons/fontello.css'
@import 'local_variables'
@import 'bootstrap'
// @import 'jquery-ui-1.10.4.custom.css'
@import 'animate.css'
@import 'helpers'
// @import 'animate_selected.css'

@import 'notifier-base.css'
@import 'notifier-theme-clean.css'

// @import 'timebar'
@import 'activities'
@import 'stat-daily'

/* HEADER */

$header-height = 35px

.header
	// border-bottom 1px solid $header-border
	background-color #D3D3D3
	// gradient-vertical(rgba(85, 85, 85, 1), rgba(0, 0, 0, 1), 0%, 100%)
	padding 3px 0
	height $header-height
	border-bottom 1px solid rgba(255, 255, 255, 0.63)
	box-shadow 0px 0px 2px 0
	margin-bottom 1px
	position fixed
	z-index 25
	width 100%
	ul
		margin 0
		padding 0

#header-settings
	user-select none
	position absolute
	right 30px
	top 1px
	font-size 16px
	cursor pointer
	border 2px solid transparent
	border-radius 50%
	transition all 80ms ease-in
	color #000
	&.on
		border-color #C2C2C2
		background-color #C2C2C2
		color #000

#header-menu
	display none
	position absolute
	right 15px
	top 50px
	z-index 22
	min-width 200px
	padding 0
	background-color #fff
	border 2px solid #B6B6B6
	box-shadow 1px 2px 9px -4px #000
	&:before
		content ''
		display block
		position absolute
		top -11px
		right 15px
		width 0
		height 0
		border-style solid
		border-width 0 10px 10px 10px
		border-color transparent transparent #B6B6B6 transparent
	ul
		list-style none
		font-family regular
		padding 0
		margin 0
		li
			padding 6px 10px
			&:hover
				color #000
		li+li
			border-top 1px solid $header-border
	&.on
		display block
	form
		text-align right
		padding 5px 10px

.header-menu-head
	padding 10px
	background-color #3A3A3A
	color #fff
	font-size 12px

.bl-logo
	font-family medium
	font-size 20px
	text-decoration none
	color #000
	&:hover
	&:active
		text-decoration none
	sup
		font-family light
		font-size 11px

/* FOOTER */
// stickyfooter_(footerHeight = 50)


/* 
-------------
Main regions
-------------
*/


#bl-app 
	position absolute
	width 100%


#acts-container-box 
	width 50% 
	padding $header-height 20px 20px

#stat-daily
	width 50%
	position absolute
	right 0
	top 120px
	padding 20px




/* Tags */
#tags-list
	user-select none
	margin 20px 0 0
	min-height 20px

.tags-list 
	margin 0
	padding 0

.switch-tag
	margin-right 2px
	margin-bottom 3px
	cursor pointer
	padding 0 5px !important
	background-color gainsboro
	border-radius 3px
	text-shadow 1px 1px 1px #fff
	transition background-color 300ms linear
	&.selected 
		background-color gray
		color #fff
		text-shadow none

.tagslist-icon 
	float left
	margin-right 20px
	margin-top -3px
	font-size 18px
	position relative

.tagslist-icon-refresh
	cursor pointer
	color $body-bg
	position absolute
	right -9px
	top -6px
	font-size 12px
	display none
	&:before
		margin 0
	.has-selected &
		color #BDBDBD
		display block

/* Timebar */
#timebar
	width 100%
	top $header-height+4
	position fixed
	z-index 24
	background-color #DFDFDF
	outline 3px solid rgb(196, 196, 196)
	box-shadow 1px 0px 5px 3px #000
	// cursor url('https://mail.google.com/mail/images/2/openhand.cur'), move
	cursor -moz-grab
	cursor -webkit-grab
	cursor grab
	&:active 
		cursor -moz-grabbing
		cursor -webkit-grabbing
		cursor grabbing
		// cursor url('https://mail.google.com/mail/images/2/closedhand.cur'), move

text 
	font-size 10px
	font-family medium
	stroke none
	fill rgb(0, 0, 0)
	shape-rendering crispedges

.xaxis .tick line 
	shape-rendering crispEdges 
	stroke #D3D3D3
	translate(0, -2px)

.xaxis .domain 
	opacity 0
	pointer-events none


.session-item 
.session-item > rect 
	shape-rendering crispEdges

.dragleft 
.dragright 
	opacity 0 
	transition opacity 200ms ease-in 
	fill red 
	fill-opacity 0.5
	/*stroke brown*/

.session-body 
	stroke #fff
	translate(0, 0)
	cursor default
	&.highlight	
		stroke #000
		stroke-width 3px
		translate(-2px, 0)

.dragging 
	.dragleft
	.dragright
		opacity 1

.session-item:hover 
	.dragleft
	.dragright 
		opacity 1


.dragging .session-body 
	cursor move 
	opacity 0.5

.clock-line 
	fill #FF0000
	shape-rendering crispEdges
	/* stroke rgba(0, 0, 0, 0.09)*/		

.tooltip
	position absolute
	z-index 222
	font-size 14px
	padding 7px
	background-color #fff
	border-radius 3px
	font-family regular
	// text-align center
	display none
	box-shadow 1px 1px 15px -4px #000
	// transition opacity 300ms ease-in
	// transition-delay 200ms
	b
		font-weight normal
		font-family medium
		font-size 15px
	i
		font-size 9px
		font-style normal
		font-family medium
		color gray
		
.tooltip small
.notifier-message small
		font-size 11px
		font-family medium
		color #ACACAC

.event-item
	fill rgb(32, 228, 255)
	stroke #fff
	stroke-width 2px


#sync-indicator
	position absolute
	top 2px
	right 70px
	background-color #fff
	padding 2px 8px
	font-family arial
	border-radius 5px
	color red
	color red
	font-weight bold
	font-size 14px
	opacity 0
	transition opacity 1s ease-in