@import 'basic.css';
@import '../fonts/fonts.css';
@import 'jquery-ui-1.10.4.custom.css';
@import 'jquery.tagit.css';
@import 'tagit.ui-zendesk.css';

body {background-color: #fafafa;}

#bl-app {
	position: absolute;
	width: 100%;
}

#acts-container-box {
	width: 70%; 
	padding: 20px; 
	margin-top: 70px;
}

#acts-container {margin: 30px 0;}

/* Add activity */
.add-act {}
.add-act-input {
	padding: 0 4px;
	width: 50%;
	height: 2.6em;
	border: none;
	background: #E2E2E2;
	margin: 30px 0 0;
}
.add-act-btn {
	display: inline-block;
	border: none;
	background: #8B8B8B;
	font-size: 30px;
	line-height: 1;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

/* 

	Activity

 */

.acts-list-item {
	font-size: 16px;
	min-height: 43px;
	border: 1px solid #DDD;
	position: relative;
	font-family: medium;
	margin: 2px 0;
	background-color: #fff;
}

/*.acts-list-item:last-child {border: none;}*/

.acts-list-item_title {
	width: 200px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	left: 33px;
	top: 14px;
}

.acts-list-item_color-bar {
	display: block;
	width: 4px;
	height: 80%;
	position: absolute;
	left: 10px;
	top: 10%;
	border-radius: 3px;
}

.acts-list-item_delete-act {
	position: absolute;
	right: 150px;
	top: 10px;
	z-index: 23;	
}

.acts-list-item_togglefull {
	background: url("../img/showhide_arrs.png") no-repeat;
	/*display: block;*/
	width: 10px;
	height: 7px;
	position: absolute;
	top: 19px;
	left: 20px;
	cursor: pointer;
	display: none;
	opacity: .6;
}

.acts-list-item:hover .acts-list-item_togglefull {display: block;}
.acts-list-item_togglefull:hover {opacity: 1;}
.acts-list-item.opened .acts-list-item_togglefull {background-position-y: -6px; display: block;}
.acts-list-item.opened {
	min-height: 100px;
}

.acts-list-item.opened .acts-list-item_color-bar {
	height: 92%;
	top: 4%;
}


.acts-list-item_tags {
	display: none;
}
.acts-list-item.opened .acts-list-item_tags {
	display: block;
}


/* Activity item: timer icon */
.toggle-timer {
	display: block;
	width: 18px;
	height: 22px;
	background: url("../img/chrono-ico.png") no-repeat;
	position: absolute;
	right: 12px;
	top: 10px;
	cursor: pointer;
}

.running .toggle-timer {
	background: url("../img/chrono-ico_active.png") no-repeat;
}

/* Activity item: timer-display */
.timer-display {
	line-height: 1em;
	padding-left: 12px;
	min-width: 85px;
	color: #DDD;
	font-size: 33px;
	display: inline-block;
	text-align: right;
	font-family: thin;
	position: absolute;
	top: 6px;
	right: 50px;
	background-color: #fff;
	z-index: 2;
}
.running .timer-display {color: #D00;}

.timer-display-colon {
	float: left; 
	display: block;
	line-height: .8;
	margin: 0 2px;
}

.timer-display-mm, .timer-display-hh {
	float: left; 
	display: block;
	width: 30px;
}
.timer-display-hh {width: 80px;}

.timer-display-ss {
	float: left; 
	display: block;
	font-size: 13px;
	width: 15px;
	margin: -6px 1px 0 0;
}


/* 

	Timebar

 */

 #timebar-wrap {
	position: absolute;
	height: 100px;
	/*top: 20px;*/
	left: 20px;
	width: 97%;
	overflow: hidden;
	background-color: #fafafa;
	/*opacity: 0;*/
 }

 #timebar {
	position: absolute;
	height: 100px;
	overflow: hidden;
	padding: 10px 9px 0 0;
	background-color: #fafafa;	
	cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
 }

#timebar:active {cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move;}

#timebar:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	top: 30px;
	left: 0;
	border-top: 1px dotted #CECECE;
}


#timescale {
	height: 30px;
	padding-top: 20px;
	/*position: absolute;*/

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
 .timescale_hh {
	/*border-top: 1px dotted #CECECE;*/
	width: 60px;
	color: #C4C4C4;
	font-size: 14px;
	display: block;
	font-style: normal;
	text-indent: -.5em;
	padding-top: 15px;
	font-family: light;
	position: relative;
	float: left;
	/*letter-spacing: 1px;*/
 }
 .timescale_hh.curr {
 	color: black;
 	font-family: medium;
	/*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);*/
 }

/* .timescale_hh:hover {
 	color: black;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.54);
 }*/

.timescale_hh::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0px;
	width: 58px;
	height: 5px;
	border-left: 1px solid #A5A5A5;
	/*border-right: 1px solid #181818;*/
}

.timescale_hh::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0px;
	width: 30px;
	height: 2px;
	border-right: 1px solid #A5A5A5;
}


#clock {
	position: absolute;
	left: 0;
	top: 30px;
	height: 6px;
	z-index: 2;
	border-top: 1px solid black;
}
_#clockcircle {
	position: absolute;
	right: -4px;
	top: -5px;
	width: 8px;
	height: 8px;
	display: none;
}

_#clock::after {
	content: '';
	display: block;
	background-color: black;
	height: 3px;
	width: 3px;
	border-radius: 6px;
	/*border: 2px solid black;*/
	position: absolute;
	top: -2px;
	right: -1px;
}


/*<svg id="clockcircle" xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink"><ellipse rx="3" ry="3" cx="4" cy="4" fill="#fff" stroke="#000" stroke-width="2"></ellipse></svg>*/
  				
_#clock::after {
	content: '';
	display: block;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><ellipse rx='3' ry='3' cx='4' cy='4' fill='#fff' stroke='#000' stroke-width='2'></ellipse></svg>");
	height: 8px;
	width: 8px;
	position: absolute;
	top: -5px;
	right: -3px;
}
_.recording #clock::after {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><ellipse rx='3' ry='3' cx='4' cy='4' fill='#fff' stroke='red' stroke-width='2'></ellipse></svg>");
}
#clock span {
	position: absolute;
	right: -6px;
	top: 0px;
	font-size: 10px;
	background-color: #fafafa;
	width: 14px;
	text-align: center;
	height: 8px;
	color: #000;
	font-family: medium;
	line-height: 1;
	padding-top: 5px;
}
_#clock span {
	position: absolute;
	right: -6px;
	top: 0px;
	font-size: 9px;
	background-color: white;
	width: 14px;
	text-align: center;
	height: 8px;
	color: gray;
	font-family: thin;
	line-height: 1;
	padding-top: 5px;
	letter-spacing: 1px;
}

/*  Activities line */
#activities-line {
	position: absolute;
	display: block;
	top: 0px;
	left: 0;
	width: 100%;
	height: 30px;
}


.activities-line_item {
	height: 10px;
	position: absolute;
	bottom: 0;
	z-index: 23;
}

.editable .remove  {
	position: absolute;
	top: 0;
	right: -12px;
	font-size: 9px;
	cursor: pointer;
	display: block;
}

.remove {display: none;}

.activities-line_item .body  {
	border-bottom: 1px solid #000;
	width: 100%;
	height: 100%;

	-webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;	
}

.activities-line_item .body:hover {
	border-bottom: 1px solid red;
	cursor: pointer;
}


/* .activities-line_item:hover .body,
.activities-line_item.editable .body  {
	opacity: 0.5;
}

 */
	
.activities-line_item.editable {z-index: 222;} 
.activities-line_item.editable .body {border-bottom: 1px solid red;} 

.activities-line_item.editable .left, 
.activities-line_item.editable .right {
	width: 1px;
	background-color: #000;
	/*box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.39);*/
	height: 63px;
	position: absolute;
	top: 0;
	cursor: e-resize;	
}

.activities-line_item.editable > .left {
	left: 0;
}

.activities-line_item.editable > .right {
	right: 0;
}

.activities-line_item.editable > .left:after, 
.activities-line_item.editable > .right:after {
/*	background-color: rgba(0, 0, 0, 0.12);
	border: 1px solid #FFF;
	width: 3px;
	position: absolute;
	border-radius: 6px;
	left: -2px;
	bottom: 0px;
	box-shadow: 0px 0px 3px;
	height: 15px;*/
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0px 7px 7px 0px;
	border-color: transparent transparent #000000 transparent;
	position: absolute;
	left: 0px;
	bottom: 0px;	
}

.activities-line_item.editable > .left:after {
	border-width: 0 0 7px 7px;
	left: -6px;
}

.drag-indicator {
	position: absolute;
	left: 0;
	top: 0;
	height: 11px;
	width: 0;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,1) 5px, rgba(255,255,255,1) 10px);
}

#div_containment {position: absolute;/*  height: 63px; background: ;-color: #FFFDCD; top: 20px; */}

/*.activities-line_item.editable > .ui-draggable-dragging.right, 
.activities-line_item.editable > .ui-draggable-dragging.left  {box-shadow: 0px 0px 3px red;}*/



.total-time {
	display: none;
	position: absolute;
	top: -18px;
	font-size: 10px;
	text-align: center;
	width: 100%;
	white-space: nowrap;
}

.left-time {
	display: none;
	font-size: 10px;
	left:  0;
	margin-left: -40px;
	position: absolute;
	top: 45px;
}

.right-time {
	display: none;
	font-size: 10px;
	right: 0;
	margin-right: -40px;
	position: absolute;
	top: 45px;
}

.activities-line_item.editable .right-time,
.activities-line_item.editable .left-time,
.activities-line_item.editable .total-time {display: block;}


.activities-line_item.editable > .transp.left:after, 
.activities-line_item.editable > .transp.right:after, 
.activities-line_item.editable > .transp.right, 
.activities-line_item.editable > .transp.left {
	box-shadow: 0 0 0;
	border: none;
	background: transparent;
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.red-dot {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: red;
	-webkit-transition: all 800 ease-in-out;
    -moz-transition: all 800 ease-in-out;
    -o-transition: all 800 ease-in-out;
    -ms-transition: all 800 ease-in-out;
    transition: all 800 ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
	-moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;  

	animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease-in-out; 	
}



.activities-line_item.running:after {
	content: '';
	height: 11px;
	width: 1px;
	right: -1px;
	top: 0;
	position: absolute;
	background: red;
	z-index: 3;

	-webkit-transition: all 800 ease-in-out;
    -moz-transition: all 800 ease-in-out;
    -o-transition: all 800 ease-in-out;
    -ms-transition: all 800 ease-in-out;
    transition: all 800 ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
	-moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;  

	animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease-in-out; 	
};

/* Auth panel */
.auth p, .auth form {float: left; margin-bottom: 0;}
.auth p, .auth input, .auth form {font-size: 10px; margin: 0 6px; float: left; }
.current_user {font-weight: bold;}
.auth {
	overflow: hidden;
	padding: 3px 0;
	border-bottom: 1px solid rgb(223, 223, 223);
	background-color: #eee;
}

/* General */
.inline-list {
	margin: 20px 0;
	padding: 0;
}

.inline-list li {
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.switch-tag.selected {border-bottom: 1px dotted;}