
.bar rect {
  /*fill: steelblue;*/
}

svg {
  font: 10px sans-serif;
}

.bar:hover rect {
  fill: brown;
}

.value {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  stroke: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}


.axis path, .axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis 
	display none