#timebar-wrap
	position absolute
	height 130px
	top 0
	left 0
	width 100%
	overflow hidden
	background-color $body-bg
	/*opacity 0*/


#timebar 
	position absolute
	height 83px
	// overflow hidden
	padding 10px 9px 0 0
	background-color #B3B3B3
	// gradient-vertical(rgba(180, 180, 180, 0.22),rgba(168, 168, 168, 0.56), 50%, 100%)
	// cursor -moz-grab
	// cursor -webkit-grab
	// cursor -webkit-grab
	cursor url('https://mail.google.com/mail/images/2/openhand.cur'), move
	&:active 
		cursor url('https://mail.google.com/mail/images/2/closedhand.cur'), move
	// &:after 
	// 	content ''
	// 	width 100%
	// 	height 1px
	// 	position absolute
	// 	top 60px
	// 	left 0
	// 	border-top 1px dotted #CECECE

#timescale 
	height 30px
	padding-top 54px
	user-select none
	// border-bottom 1px solid rgba(255, 255, 255, 0.47)

.timescale_hh 
	width 60px
	color #444
	font-size 10px
	display block
	font-style normal
	text-indent -.5em
	padding-top 5px
	font-family light
	position relative
	float left
	// &.curr 
	// 	color black
	// 	font-family medium
	&::before 
		content ''
		display block
		position absolute
		top -62px
		left 0px
		width 58px
		height 65px
		border-left 1px dotted rgba(112, 112, 112, 0.31)
	// &::after 
	// 	content ''
	// 	display block
	// 	position absolute
	// 	top 0
	// 	left 0px
	// 	width 30px
	// 	height 2px
	// 	border-right 1px solid #A5A5A5


#clock 
	position absolute
	left 1px
	top -6px
	height 89px
	z-index -4
	border-right 1px solid #fff
	background rgba(255, 255, 255, 0.28)
	// gradient-vertical(rgba(0,0,0,0),rgba(139, 139, 139, 1), -50%, 100%)
	// &:after
	// 	content ''
	// 	display block
	// 	height 110px
	// 	width 4px
	// 	background-color #f00
	// 	position absolute
	// 	right -2px
	// 	top -100px
	// 	border 1px solid #fff
	// 	z-index -10
	span
		display none
		position absolute
		right -3px
		bottom -15px
		font-size 10px
		width 14px
		text-align center
		color #6D6D6D
		font-family medium
		line-height 1
		padding-top 1px
		z-index 2

/*  Timebar Sessions */
#timebar-sessions 
	position absolute
	display block
	top 0px
	left 0
	width 100%
	height 60px

.timebar-session 
	height 8px
	position absolute
	bottom 0
	z-index 23
	&.track-1
		margin-bottom 12px
	&.track-2
		margin-bottom 24px
	&.track-3
		margin-bottom 36px
	&.track-4
		margin-bottom 48px
	&.running:after 
		content ''
		height 8px
		width 1px
		right -1px
		top 0
		position absolute
		background red
		z-index 3
		// animation(pulse 1s ease-in-out 200ms infinite normal)
	.remove 
		display none
	&.editable .remove
		position absolute
		top 0
		right -12px
		font-size 9px
		cursor pointer
		display block
	.body  
		// border-bottom 1px solid #000
		width 100%
		height 100%
		transition(background-color 1s ease-in-out)	
		cursor pointer
	&:hover 
		.body 
			opacity 0.5
	&.editable 
		z-index 222 
		.body 
			border-bottom 1px solid red 
		.right, .left 
			width 1px
			background-color #000
			height 63px
			position absolute
			top 0
			cursor e-resize
			&:after
				content ''
				width 0px
				height 0px
				border-style solid
				border-width 0px 7px 7px 0px
				border-color transparent transparent #000000 transparent
				position absolute
				left 0px
				bottom 0px
		.right
			right 0
		.left
			left 0
			&:after
				border-width 0 0 7px 7px
				left -6px
		.right-time
		.left-time
		.total-time 
			display block
		> .transp
				&.right
				&.left
				&.left:after
				&.right:after
					box-shadow 0 0 0
					border none
					background transparent				

.drag-indicator 
	position absolute
	left 0
	top 0
	height 9px
	width 0
	background-image repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,1) 5px, rgba(255,255,255,1) 10px)


#div_containment 
	position absolute
  // height 63px background -color #FFFDCD top 20px 

// .timebar-session.editable > .ui-draggable-dragging.right, 
// .timebar-session.editable > .ui-draggable-dragging.left  box-shadow 0px 0px 3px red


.total-time 
	display none
	position absolute
	top -18px
	font-size 10px
	text-align center
	width 100%
	white-space nowrap


.left-time 
	display none
	font-size 10px
	left  0
	margin-left -40px
	position absolute
	top 45px


.right-time 
	display none
	font-size 10px
	right 0
	margin-right -40px
	position absolute
	top 45px


.red-dot 
	position absolute
	top 10px
	right 10px
	width 6px
	height 6px
	border-radius 50%
	background-color red
	animation(pulse 1s ease-in-out 200ms infinite normal)


@keyframes pulse {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}