<i class="acts-list-item_color-bar" style="background-color:{{color}}"></i>

<i class="acts-list-item_togglefull togglefull" title="Toggle detailed view">
	<i class="icon-down-open"></i>
	<i class="icon-up-open"></i>
</i>


<span class="acts-list-item_title">
	<span class="">{{title}}</span>
	<i class="edit-act icon-edit-alt" title="Edit activity"></i>
</span>

<ul class="acts-list-item_tags">
  {{#if tags.length}}
	<li>#</li>
  {{/if}}
	{{#each tags}}
	<li class="{{this}}">{{this}}</li>
	{{/ each}}
</ul>


<span class="timer-display"></span>

<div class="toggle-timer">
	<span class="start-timer">START</span>
	<span class="stop-timer">STOP</span>
</div>

<div class="acts-list-item_fullview">

	<span class="short-stat"></span>
	
	<div class="archive-activity-block">
		<input class="archive-activity" type="checkbox" {{#if archived}}checked{{/if}}><label for=""> Archived</label>
	</div>
</div>

