<div>
	<div id="tags-list"></div>

<input id="show-archived" type="checkbox">
<label for="">Show Archived</label>

<div id="show-archived-only-b" style="display: none">
	<input id="show-archived-only" type="checkbox">
	<label for="">Show Only Archived</label>
</div>
	
	<div id="acts-container"></div>
	<input id="act-input" class="add-act-input" placeholder="Add a new activity">
	<input type="submit" value="+" id="act-input-btn" class="act-input-btn">
	<div id="edit-widg" class="edit-widg"></div>
</div>
	