<h3>Edit title:</h3>

<input class="act-title" type="text" value="{{model.attributes.title}}">

<h3>Select color:</h3>
<ul class="colorset" id="widg-colorset">
	{{# each colors }}
	<li style="background-color: {{this}}" class="{{#thisColor this}}{{/thisColor}}"></li>
	{{/ each}}
</ul>

<br>

<h3>Edit tags:</h3>
<div data-tags-input-name="tag" id="tagBox"></div>

<br>
<h3>Choose track (position on the timebar):</h3>
<ul class="trackslist" id="trackslist">
	{{#each tracks}}
	<li class="{{#selectedTrack this}}{{/selectedTrack}}">{{this}}</li>
	{{/ each}}
</ul>

<br>

<button class="save-widget-data" id="save-widget-data">Save</button>
<button class="close-widget" id="close-widget">Cancel</button>
<span class="delete-act" id="delete-act"><i class="icon-trash"></i> Delete activity</span>
