<i class="icon-tags tagslist-icon">
	<i id="clear-tags" title="clear tag selection" class="icon-refresh tagslist-icon-refresh"></i>
</i>

<ul class="tags-list list-inline">
	{{# each tagsList }}
	<li class="switch-tag" id="{{this}}">{{this}}</li>
	{{/ each}}
</ul>

