<span class="timer-display-hh">{{hh}}</span>
<span class="timer-display-colon">:</span>
<span class="timer-display-mm">{{mm}}</span>
<span class="timer-display-ss">{{ss}}</span>
<span class="short-stat">
	<i title="Today">{{today}}</i>
	<i title="Total">{{total}}</i>
</span>