<div class='timebar-session track-{{track}}' 
	 data-id='{{id}}' 
	 style='width: {{width}}px; left: {{left}}px'>
	<div class="body" style='background-color:{{color}};'></div>
	<div class="left prevent-scroll"><div class="drag-indicator" style='background-color:{{color}};'></div></div>
	<div class="right prevent-scroll"><div class="drag-indicator" style='background-color:{{color}};'></div></div>
	<div class="left-time"></div>
	<div class="right-time"></div>
	<div class="total-time"><div class="total-time-display"></div><div class="remove">x</div></div>
</div>