/* Normalize CSS */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block;}
audio, canvas, video {display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) {display: none; height: 0;}
[hidden] {display: none;}

::-moz-selection { background: #444; color: #fff; text-shadow: none; }
::selection { background: #444; color: #fff; text-shadow: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}


html, button, input, select, textarea {font-family: Arial, sans-serif; color: #000;}

body {
  position: relative;
  font: 14px/18px Arial, sans-serif;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
}