{% extends "../base.html" %}

{% block title %}admin{% end %}

{% block content %}
    <h2>User list</h2>
    <ul>
        {#% for user in users %#}
            <li></li>
        {#% end %#}

    </ul>
{% end %}
