{#<li><a href="{{ reverse_url("signup_g") }}">Login with Google</a></li>#}
<li><a href="{{ reverse_url("signup_t") }}">Login with Twitter</a></li>
{#<li><a href="{{ reverse_url("signup") }}">Signup</a></li>#}
