{% extends "base.html" %}

{% block title %}account activation{% end %}

{% block content %}
<h1 style="margin: 200px 0 100px;">Account activation</h1>
    {% if msg %}
        <p>{{ msg }}</p>
    {% else %}
        <p>To activate your new account please click a link in the Email we've just sent to you.</p>
    {% end %}
{% end %}
