<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Basiclogger Project">
    <!--script type="text/javascript" src="{{ static_url("js/libs/jquery-1.10.2.min.js") }}"></script-->
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/app.css")}}"/>
    <title>Basiclogger: {% block title %}{% end %}</title>
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    {% block head-js %}{% end %}
</head>
<body>
<div class="header">
    <div class="container">
        <div style="position:relative;">
        {% if current_user %}
            <ul class="list-inline">
                <li><a class="bl-logo" href="{{ reverse_url("ui") }}">Basic Logger <sup>alfa</sup></a></li>
                {% block menu_links %}{% end %}
            </ul>
        {% end %}

        <div id="sync-indicator">!</div>
        
        <div class="icon-settings" id="header-settings"></div>
        <div id="header-menu" class="fadeInDown animated-fast">
            {% if not current_user %}
                <ul>
                    <li><a href="{{ reverse_url("login") }}">Login</a></li>
                    {% module Template('includes/login_li_elements.html') %}
                </ul>
            {% else %}
                <div class="header-menu-head">Logged in as <b>{{ current_user }}</b>
                <form style="display:none" id="formRemoveAcc" method="POST" action="{{ reverse_url("delete") }}">
                    {% module xsrf_form_html() %}
                </form>
                </div>
                <ul>
                    <li><a href="{{ reverse_url("signup_t") }}">Connect your Twitter</a></li>
                    <li><a href="{{ reverse_url("password_change") }}">Change password</a></li>
                    <li><a href="#" id="export-data">Export data</a></li>
                    <li>
                        <a href="#" id="del-acc">Delete account</a>
                    </li>

                    <form method="POST" action="{{ reverse_url("logout") }}">
                        {% module xsrf_form_html() %}
                        <input type="submit" value="Logout"/ >
                    </form>
                </ul>

            <script>
                window.BasicLoggerCurrentUserID = "{{ current_user }}";
                (function(){
                    var deleteAccountBtn = document.getElementById('del-acc');
                    if (!deleteAccountBtn) return;
                    deleteAccountBtn.addEventListener('click', function() {
                        var hardIntention = confirm("Your account and all related data would be permanently removed. Please keep in mind that you won't be able to restore your data. \n\n Are you serious?");
                        if (hardIntention) {
                            var form = document.getElementById("formRemoveAcc");
                            form.submit();
                        };
                    })
                })()
            </script>
            {% end %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% end %}
</div>

{% block app %}{% end %}

{% block js-includes %}{% end %}

<script>
    (function(){
        var headerSettings = document.getElementById('header-settings');
        var headerMenu = document.getElementById('header-menu');
        headerSettings.addEventListener('click', function() {
            headerSettings.classList.toggle('on')
            headerMenu.classList.toggle('on')
        })
    })()
</script>

</body>
</html>
