{% extends "base.html" %}

{% block title %}welcome!{% end %}

{% block content %}
    <br><br>
    <h1><a href="{{ reverse_url("ui") }}">Basic Logger</a> app - a proof of concept time logging application</h1>
    <h2>Internals</h2>
    <p>You are welcome to take a look at <a href="/static/doc/JS-draft-API.html">JS API</a>
    and project <a href="/static/doc/README.html">README</a> to get some idea about how this thing works.</p>
    <h3>Notes</h3>
    <p>It is an old POC project and since 2013 Google auth integration stopped working and Mandrill became a paid
    addon of MailChimp... So, please, use your Twitter account to sign up.</p>
{% end %}
