{% extends "base.html" %}

{% block title %}login{% end %}

{% block content %}
<h1 style="margin: 200px 0 100px;">Login</h1>
<div class="row">
    {% if current_user %}
        <p>Already logged in!</p>
    {% else %}
        {% if msg %}
            <p>{{ msg }}</p>
        {% end %}
        <form class="form-horizontal" method="POST" action="{{ reverse_url("login") }}">
            <fieldset>

            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email:</label>
              <div class="col-md-4">
                  <input id="textinput" type="text" class="form-control input-md"  name="email">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Password:</label>
              <div class="col-md-4">
                <input id="passwordinput" name="password" type="password" class="form-control input-md">
                {% module xsrf_form_html() %}
                <input type="hidden" name="next" value="{{ reverse_url("ui") }}"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                <button id="singlebutton" name="login" value="Login" class="btn btn-primary">Login</button>
              </div>
            </div>

            </fieldset>
        </form>
        {#<p>Forgot your password? Request a <a href="{{ reverse_url("password_reset") }}">password reset</a>!</p>#}
        <ul>
            {% module Template('includes/login_li_elements.html') %}
        </ul>
    {% end %}
</div>
{% end %}

