{% extends "base.html" %}

{% block title %}we need your Email{% end %}

{% block content %}
    <h1 style="margin: 200px 0 100px;">We need to know your Email address</h1>
    <div class="row">
        <form class="form-horizontal" method="POST" action="">
        <fieldset>

            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Your Email address:</label>
              <div class="col-md-4">
                  <input id="textinput" type="text" class="form-control input-md"  name="email">
              </div>
            </div>

            {% module xsrf_form_html() %}

            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                <button id="singlebutton"  value="Signup" class="btn btn-primary">Verify</button>
              </div>
            </div>

        </fieldset>
        </form>
    </div>
{% end %}
