{% extends "base.html" %}

{% block title %}password change{% end %}

{% block content %}
<h1 style="margin: 200px 0 100px;">Password change</h1>
<div class="row">
    {% if msg %}
        <p>{{ msg }}</p>
    {% else %}
        <form  method="POST" action="{{ reverse_url("password_change") }}">
            <fieldset>
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Enter your new password</label>
              <div class="col-md-4">
                <input id="password" name="password" type="password" class="form-control input-md">
              </div>
              <div class="col-md-4 ">
                {% module xsrf_form_html() %}
                <button type="submit" value="Change" class="btn btn-primary">Submit</button>
              </div>
            </div>

            </fieldset>
        </form>
    {% end %}

</div>
{% end %}
