{% extends "base.html" %}

{% block title %}password reset{% end %}

{% block content %}
<h1 style="margin: 200px 0 100px;">Reset your password</h1>
<div class="row">
    {% if msg %}
        <p>{{ msg }}</p>
    {% else %}
        {% if not current_user %}
            <p>We will send you a secret account activation link and you'll be able to log in and reset your password.</p>
            <form method="POST" action="{{ reverse_url("password_reset") }}">
                <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="email">Your Email address used for registration:</label>
                  <div class="col-md-4">
                    <input id="email" type="text" name="email" class="form-control input-md">
                  </div>
                  <div class="col-md-4 ">
                    {% module xsrf_form_html() %}
                    <button type="submit" value="Send me a secret link" class="btn btn-primary">Send me a secret link</button>
                  </div>
                </div>
            </fieldset>
            </form>
        {% else %}
            <p>You are already logged in!</p>
        {% end %}
    {% end %}
</div>
{% end %}
