{% extends "base.html" %}

{% block title %}signup{% end %}

{% block content %}
<h1 style="margin: 200px 0 100px;">Signup</h1>
<div class="row">
    {% if msg %}
        <p>{{ msg }}</p>
    {% else %}
        {% if not current_user %}
            <form class="form-horizontal" method="POST" action="{{ reverse_url("signup") }}">
            <fieldset>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="email">Your Email address:</label>
                  <div class="col-md-4">
                      <input id="textinput" type="text" class="form-control input-md"  name="email">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="password">Password:</label>
                  <div class="col-md-4">
                    <input id="passwordinput" name="password" type="password" class="form-control input-md">

                  </div>
                </div>

                {% module xsrf_form_html() %}
                <input type="hidden" name="next" value="{{ reverse_url("ui") }}"/>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-4">
                    <button id="singlebutton"  value="Signup" class="btn btn-primary">Signup</button>
                  </div>
                </div>

            </fieldset>
            </form>
        {% end %}
    {% end %}
{% end %}

