{% extends "base.html" %}

{% block title %}API test{% end %}

{% block content %}
    <select id="doctype">
        <option value="activity">activity</option>
        <option value="session">session</option>
    </select>

    <ul>
    {% for i in xrange(len(activities)) %}
        <li>
            <textarea style="width: 750px;" >{{ activities[i] }}</textarea><br/>
            <input class="submit" id="submit_{{ i }}" type="submit"></input>
            <input class="delete submit" id="delete_{{ i }}" type="submit" value="Delete"></input>
        </li>
    {% end %}
    <li>
        <textarea style="width: 750px;" id="doc_idnew" name="doc_idnew"></textarea><br/>
        <input class="submit" id="submit_final" type="submit"></input>
        <span>new session doc should contain at least {"activity": "04b345a342172dcdb99f51eba25eb4c2", "start": 1361363371019}</span><br/>
        <span>new activity doc should contain at least {"title": "something"}</span>
    </li>
    </ul>
    <pre id="status">reloaded</pre>
{% end %}

{% block js-includes %}
    <script type="text/javascript">
    $(document).ready(function(){
        //alert($("#testform").serialize());
        $.ajaxSetup({
            dataType: "json",
            processData: false,
            contentType: "application/json; charset=utf-8"
        });


        $(".submit").bind('click', function(event){
            var data_element = $(this).siblings('textarea').first();
            //console.debug(data_element.val());
            var status_element = $('pre#status');
            var doc = {};
            var POST_url = "/api/"+$('#doctype').val();
            var base_url = POST_url + "/";
            var url = base_url;
            var method = "PUT";
            status_element.empty();
            doc = JSON.parse(data_element.val());

            //console.debug($(this).hasClass('delete'));
            if ($(this).hasClass('delete')){
                $.ajax({
                    type: "DELETE",
                    url: base_url + doc._id + '?rev=' + doc._rev, //+ "/",
                    success: function(response, status, xhr){
                        window.location.reload();
                        return;
                    }
                });
                return;
            }

            // check if we are about to submit new doc
            if (data_element.attr('id') == "doc_idnew"){
                method = "POST";
                url = POST_url;
            }
            else{
                url += doc._id;// + "/";
            }
            $.ajax({
                type: method,
                url: url,
                data: data_element.val(),
                success: function(response, status, xhr){
                    // reload the whole page if it was a new doc POST
                    if (method == "POST") {
                        window.location.reload();
                        return;
                    }
                    if (response.id){
                        // get new version
                        $.ajax({
                            type: "GET",
                            url: base_url + response.id,// + "/",
                            success: function(response, status, xhr){
                                data_element.val(JSON.stringify(response));
                                status_element.html('OK');
                            }
                        });
                    } else {
                        status_element.html('empty response id');
                    }
                    /* or just update the _rev (not so reliable)
                    doc._rev = response._rev;
                    data_element.val(JSON.stringify(doc));
                    */
                    status_element.html('POST: OK, GET: Fail');
                },
                error: function(xhr, status, exception){
                    //console.debug(status); // one of: "timeout", "error", "notmodified" and "parsererror"
                    switch(xhr.status)
                    {
                    case 409:
                        status_element.html(xhr.status + ': ' + xhr.responseText + '\n');
                        $.ajax({
                            type: "GET",
                            url: base_url + doc._id,//  + "/",
                            success: function(response, status, xhr){
                                data_element.val(JSON.stringify(response));
                                status_element.html(status_element.html() + xhr.status + ': got fresh doc _rev for you, make changes and try again!\n');
                            }
                        });
                      break;
                    default:
                        if (xhr.status >= 500){
                            status_element.html(xhr.status + ': we did not expect that and would not try to parse the response (use firebug!)\n');
                            break;
                        }
                        // parse will fail here on html content (in django debug mode)
                        status_element.html(xhr.status + ': ' + xhr.responseText + '\n');

                    }
                }
            });
        });

    });
    </script>
{% end %}
