{% extends "base.html" %}

{% block title %}UI{% end %}

{% block head-js %}
    <!--Change to main-built.js below for production-->
    <script type="text/javascript" src="{{ static_url("js/main-built.js")}}" ></script>
    <!--<script type="text/javascript" src="{{ static_url("js/libs/require.js")}}" data-main="{{ static_url("js/app/config/Init.js")}}"></script>-->
{% end %}

{% block menu_links %}
    <li><a href="{{ reverse_url("index") }}">Home</a></li>
{% end %}

{% block app %}
  <div id="bl-app">
    <div id="timebar"></div>
    <div id="acts-container-box"></div>
    <div id="stat-daily"></div>
  </div>
{% end %}
